:root {
  --background1-color: #F5ECEE;
  --background2-color: #716F70;
  --navigation-color: #f17351;
  --link-color: #FF33A0;
  --border-color: #66005F;
  --heading-color: #66005F;
}

*{
  margin: 0px;
  padding: 0px;
  font-family: helvetica;
  margin-left: auto;
  margin-right: auto;
}

a{ 
  color: var(--link-color);
}

b{ 
  color: var(--heading-color);
}

.container{
  font-size: 100%;
  width: 70%;
  margin: 20px auto;
  min-width: 460px;
  min-height: 1020px;
  background-color: var(--background1-color);
  border: 1px solid #BEBEBE;
  padding: 20px;
  overflow: auto;
  
  -webkit-border-radius: 2px 2px 2px 2px;
     -moz-border-radius: 2px 2px 2px 2px;
     -o-border-radius: 2px 2px 2px 2px;
      border-radius: 2px 2px 2px 2px;
  
  -webkit-box-shadow: 0 1px 2px #CCE0FF;
     -moz-box-shadow: 0 1px 2px #CCE0FF;
     -o-box-shadow: 0 1px 2px #CCE0FF;
      box-shadow: 0 1px 2px #CCE0FF;
}

body {
  font-family: sans-serif;
  background-color: var(--background2-color);
}

header {
  font-style: italic;
  text-align: center;
  margin-bottom: 1em;
}

header h1 {
  font-family: Pacifico, cursive;
  font-size: 350%;
  color: var(--heading-color);
}

h2{
    font-size:180%;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 40px;
    margin-left: 30px;
    color: var(--heading-color);
}

h3{
    font-size:120%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--heading-color);
}

p{
    overflow-x:hidden;
    text-align: justify;
    text-justify: inter-word;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul{
    margin-left: 25px;
    margin-bottom: 10px;
    list-style: square inside;
}

.cont{
  margin: 0px 20px;
}


.section{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
